<PartCoverSettings>
  <Target>tools\NUnit\nunit-console.exe</Target>
  <TargetWorkDir>.</TargetWorkDir>
  <TargetArgs>build\debug\UnitTests\Crap4n.Specs.dll /noshadow</TargetArgs>
  <Output>build\reports\PartCoverResults.xml</Output>
  <Rule>+[Crap4n*]*</Rule>
  <Rule>-[Crap4n.Specs]*</Rule>
  <Rule>-[nunit*]*</Rule>
  <Rule>-[nbehave*]*</Rule>
</PartCoverSettings>