<PartCoverSettings>
  <Target>..\..\tools\NUnit\nunit-console.exe</Target>
  <TargetWorkDir>.</TargetWorkDir>
  <TargetArgs>bin\debug\Example.dll /noshadow</TargetArgs>
  <Output>ExamplePartCoverResults.xml</Output>
  <Rule>+[Example*]*</Rule>
  <Rule>-[Example*]Example.Specs*</Rule>
  <Rule>-[nunit*]*</Rule>
  <Rule>-[nbehave*]*</Rule>
</PartCoverSettings>