<?xml version="1.0" encoding="UTF-8" ?>
<sourcemonitor_commands>
  <write_log>true</write_log>
  <command>
    <project_file>Example.smp</project_file>
    <parse_utf8_files>True</parse_utf8_files>
    <project_language>C#</project_language>
    <source_directory>.</source_directory>
    <source_subdirectory_list>
      <exclude_subdirectories>true</exclude_subdirectories>
      <source_subtree>bin\</source_subtree>
      <source_subtree>obj\</source_subtree>
      <source_subtree>_svn\</source_subtree>
      <source_subtree>.svn\</source_subtree>
      <source_subtree>Specs\</source_subtree>
    </source_subdirectory_list>
    <file_extensions>*.cs</file_extensions>
    <include_subdirectories>false</include_subdirectories>
    <ignore_headers_footers>true</ignore_headers_footers>
    <export>
      <export_file>bin\debug\ExampleSourceMonitorSummary.xml</export_file>
      <export_type>1 (project summary as XML)</export_type>
    </export>
  </command>
  <command>
    <project_file>Example.smp</project_file>
    <parse_utf8_files>True</parse_utf8_files>
    <project_language>C#</project_language>
    <source_directory>.</source_directory>
    <source_subdirectory_list>
      <exclude_subdirectories>true</exclude_subdirectories>
      <source_subtree>bin\</source_subtree>
      <source_subtree>obj\</source_subtree>
      <source_subtree>_svn\</source_subtree>
      <source_subtree>.svn\</source_subtree>
      <source_subtree>Specs\</source_subtree>
      <source_subtree>TestAssembly\</source_subtree>
    </source_subdirectory_list>
    <file_extensions>*.cs</file_extensions>
    <include_subdirectories>false</include_subdirectories>
    <ignore_headers_footers>true</ignore_headers_footers>
    <export>
      <export_file>ExampleSourceMonitorDetails.xml</export_file>
      <export_type>2 (checkpoint details as XML)</export_type>
      <export_option>Include method metrics: option 3</export_option>
    </export>
    <delete_checkpoint />
  </command>
</sourcemonitor_commands>